<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/src/css/components/header.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>

    <header>
        <a href="../../../src/index.html" class="logo">Rodella</a>
        <div class="app-navigation">
            <ul class="menu">
                <div class="close-btn"></div>
                <!-- <li class="menu-item"><a href="#">Home</a></li> -->
                <li class="menu-item">
                    <a class="sub-btn" href="/src/html/pages/aircraft.html">Aircraft <i class="fas fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li class="sub-item"><a href="#">Aircraft 01</a></li>
                        <li class="sub-item"><a href="#">Aircraft 02</a></li>
                        <li class="sub-item"><a href="#">Aircraft 03</a></li>
                        <li class="sub-item"><a href="#">Aircraft 04</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a class="sub-btn" href="/src/html/pages/composites.html">Composite Mart <i class="fas fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li class="sub-item"><a href="#">Sub Item 4</a></li>
                        <li class="sub-item"><a href="#">Sub Item 5</a></li>
                        <li class="sub-item"><a href="#">Sub Item 6</a></li>
                        <li class="sub-item"><a href="#">Sub Item 6</a></li>
                        <li class="sub-item more">
                            <a class="more-btn" href="#">More Items <i class="fas fa-angle-right"></i></a>
                            <ul class="more-menu">
                                <li class="more-items"><a href="#">More Item 01</a></li>
                                <li class="more-items"><a href="#">More Item 02</a></li>
                                <li class="more-items"><a href="#">More Item 03</a></li>
                                <li class="more-items"><a href="#">More Item 04</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item"><a href="/src/html/pages/development.html">Development</a></li>
                <li class="menu-item"><a href="/src/html/pages/services.html">Services</a></li>
                <li class="menu-item"><a href="/src/html/pages/about.html">About</a></li>
                <li class="menu-item"><a href="/src/html/pages/contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="menu-btn"></div>
    </header>
</html>