.pageContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 80vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.leftSection {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f4f4f4;
  height: 100%;
}

.leftSection h1 {
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.heroImage {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  height: 400px;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #ffffff;
}

.login-box {
  width: 100%;
  max-width: 460px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.152);
  padding: 30px;
  text-align: center;
}

.login-box h2 {
  font-size: 28px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 20px;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #1f2937;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f9fafb;
}

.error-message {
  color: #dc2626;
  font-size: 12px;
  margin-top: 5px;
}

.remember-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.forgot-link {
  font-size: 14px;
  color: #2563eb;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #000000;
}

.sign-up {
  font-size: 14px;
  color: #6b7280;
}

.sign-up a {
  color: #2563eb;
  text-decoration: none;
}

.sign-up a:hover {
  text-decoration: underline;
}

.backToHome {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 14px;
  font-family: 'poppins', sans-serif;
  padding: 10px 20px;
  border-radius: 50px;
  color: #fff;
  background: rgb(7, 0, 48);
  text-decoration: none;
}

@media (max-width: 768px) {
  .pageContainer{
    padding: 40px 20px 20px;
  }

  .container {
    flex-direction: column;
    height: auto;
  }

  .leftSection {
    width: 100%;
    padding: 0px;
  }

  .rightSection {
    padding: 0px;
  }

  .login-box {
    margin-top: 20px;
    padding: 20px 30px;
  }

  .leftSection h1 {
    font-size: 1.6rem;
    margin-top: 20px;
  }

  .heroImage {
    height: 220px;
  }

  .backToHome {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
  }
}